.about {
  width: 100%;
  background: url("https://res.cloudinary.com/dcqvebhun/image/upload/v1734750269/vector-abstract-background-gradient-color-260nw-1953826990_pd3ell.webp");
  border: 1px solid black;
  padding: 1rem;
  margin-top: 0rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  line-height: 3.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.about > div > h1 {
  font-size: 3rem;
}

.about > div {
  width: 70%;
  margin: auto;
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 800px) {
  .about > div {
    width: 95%;
    line-height: 2rem;
  }
}
