.projects {
  /* border: 1px solid red; */
  padding-top: 2rem;
  background: url("https://res.cloudinary.com/dcqvebhun/image/upload/v1734747836/navy-blue-minimalist-wallpaper-high-quality-4k-hdr-free-photo_o388xh.jpg");
}

.allProjects {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  /* background-color: rgba(255, 255, 255, 0.244); */
}
