.skills {
  background: url("https://res.cloudinary.com/dcqvebhun/image/upload/v1734747818/luxury-abstract-background-with-golden-and-black-shapes-metal-texture-steel-background-vactor-design-illustration-free-vector_hmtnqo.jpg");
  width: 100%;
  margin-top: 0rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  /* height: 50vh; */
}

.skills > div {
  width: 70%;
  /* border: 1px solid white; */
  margin: auto;
  color: white;
  padding: 1.5rem;
  font-size: 1.4rem;
}

.skills div .skill {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

@media (max-width: 600px) {
  .skills > div {
    width: 90%;
  }
}
